<h1>About</h1>

<p> This page is for education purpose, and therefore can be lack of functions.</p>

<img href="http://angeldona.com/img/index_carousel2.png"/>

<p> This is what i made as the first toy project. <a href = "https://angeldona.com/">Go -></a> </p>