<ol> This is an ordered list
<li> NO.1 ordered list</li>
<li> NO.2 ordered list</li>
<li> NO.3 ordered list</li>
</ol>

<ul> This is an unordered list
<li> NO.1 unordered list</li>
<li> NO.2 unordered list</li>
<li> NO.3 unordered list</li>
</ul>